
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
AutomationLoginPage.iml
build/
target/
"target\\allure-results\\screenshots\\screenshot1226589696293639779.png"
"target\\allure-results\\screenshots\\screenshot1491449979796872532.png"
"target\\allure-results\\screenshots\\screenshot1561819053946323425.png"
"target\\allure-results\\screenshots\\screenshot1607034549665931751.png"
"target\\allure-results\\screenshots\\screenshot1642601693026499377.png"
"target\\allure-results\\screenshots\\screenshot1745300634169525830.png"
"target\\allure-results\\screenshots\\screenshot1930026368165532898.png"
"target\\allure-results\\screenshots\\screenshot2225882577109138360.png"
"target\\allure-results\\screenshots\\screenshot2266854736357293172.png"
"target\\allure-results\\screenshots\\screenshot2312040026500938255.png"
"target\\allure-results\\screenshots\\screenshot2330855530120768933.png"
"target\\allure-results\\screenshots\\screenshot2374531007627153211.png"
"target\\allure-results\\screenshots\\screenshot2473205563257309751.png"
"target\\allure-results\\screenshots\\screenshot2553017607664332508.png"
"target\\allure-results\\screenshots\\screenshot293514112043570054.png"
"target\\allure-results\\screenshots\\screenshot3559673847284968253.png"
"target\\allure-results\\screenshots\\screenshot374581589077543436.png"
"target\\allure-results\\screenshots\\screenshot3801243044767582873.png"
"target\\allure-results\\screenshots\\screenshot3803700691466461210.png"
"target\\allure-results\\screenshots\\screenshot3816660936715936038.png"
"target\\allure-results\\screenshots\\screenshot4070762276499978072.png"
"target\\allure-results\\screenshots\\screenshot4095599694606241940.png"
"target\\allure-results\\screenshots\\screenshot4565400331216668681.png"
"target\\allure-results\\screenshots\\screenshot4645009152221031244.png"
"target\\allure-results\\screenshots\\screenshot4667091259209092093.png"
"target\\allure-results\\screenshots\\screenshot4682221709480299846.png"
"target\\allure-results\\screenshots\\screenshot4842527210298688441.png"
"target\\allure-results\\screenshots\\screenshot4983296348062389511.png"
"target\\allure-results\\screenshots\\screenshot5177423581527429824.png"
"target\\allure-results\\screenshots\\screenshot5323061879386860533.png"
"target\\allure-results\\screenshots\\screenshot5336618331372073101.png"
"target\\allure-results\\screenshots\\screenshot5463201724508293189.png"
"target\\allure-results\\screenshots\\screenshot5547110802866633984.png"
"target\\allure-results\\screenshots\\screenshot5708284376919833797.png"
"target\\allure-results\\screenshots\\screenshot5810188740673154986.png"
"target\\allure-results\\screenshots\\screenshot5892254719417374039.png"
"target\\allure-results\\screenshots\\screenshot598121821200730521.png"
"target\\allure-results\\screenshots\\screenshot6122287914757560276.png"
"target\\allure-results\\screenshots\\screenshot6499919397263286157.png"
"target\\allure-results\\screenshots\\screenshot6540144879766624668.png"
"target\\allure-results\\screenshots\\screenshot6604165796006378348.png"
"target\\allure-results\\screenshots\\screenshot670180124831502175.png"
"target\\allure-results\\screenshots\\screenshot6811845321204688342.png"
"target\\allure-results\\screenshots\\screenshot6815477441728208598.png"
"target\\allure-results\\screenshots\\screenshot6957427060566956106.png"
"target\\allure-results\\screenshots\\screenshot7016004871553979085.png"
"target\\allure-results\\screenshots\\screenshot7055124608304599608.png"
"target\\allure-results\\screenshots\\screenshot71053596341360426.png"
"target\\allure-results\\screenshots\\screenshot7271848837389726430.png"
"target\\allure-results\\screenshots\\screenshot7296670066364134362.png"
"target\\allure-results\\screenshots\\screenshot7525204478205338664.png"
"target\\allure-results\\screenshots\\screenshot7698570367036140883.png"
"target\\allure-results\\screenshots\\screenshot7707281591575688014.png"
"target\\allure-results\\screenshots\\screenshot7967505323102987078.png"
"target\\allure-results\\screenshots\\screenshot8037865072471311272.png"
"target\\allure-results\\screenshots\\screenshot8164047617714363984.png"
"target\\allure-results\\screenshots\\screenshot8227330579990110419.png"
"target\\allure-results\\screenshots\\screenshot8240482866484301380.png"
"target\\allure-results\\screenshots\\screenshot8991580830796988679.png"
"target\\allure-results\\screenshots\\screenshot9162182000658948965.png"
"target\\allure-results\\screenshots\\screenshot921404014015080630.png"
